<div class="middle">

     
       <h1 class="title">Scuter Café</h1>
      <p class="slogan">Everything Food & Coffee</p> 
    
    {{!-- <div>
        <input type="text" value="" name="name" placeholder="please enter name" class="entername">
        <button class="button waiterbtn" on type="submit" name="button">Enter</button>
    </div> --}}

    <br>
    {{#each name}}
    <form action="/waiters/{{this.user}}" method="POST">
      <h2 class="name" style="color: white;" <a href="/waiters/{{this.user}}"> Hello {{this.user}}</a></h2>
      {{/each}}
     <h3 style="color: white;">Select Days :</h3>

      {{#each allDays}}
           <input type="checkbox" name="day" class="check" value="{{this.days_booked}} {{this.state}}">
      <span class="checkmark"></span>
      <label for="all" class="label" > {{this.days_booked}}</label>
          {{/each}}

          
</div>

<br>

      <input class="submitBtn" type="submit" value="Update Schedule"> <br>
    </form>
    		<p class="msg">{{messages.msg}}<p>
        <p class="error">{{messages.error}}<p>


        <button class="index"><a href="/days">Admin</a></button>